{{extend 'layout.html'}}

{{block head}}
<script>
    var my_url = "{{=URL('api', 'my_method')}}";
</script>
{{end}}

<div id="vue-div" class="display:none">
    <p class="padded tagline">Brainstorming with Idea Boards helps you come up with new inspiration for your next project. Upload domain-specific thoughts and ideas, then combine them in new and interesting ways. We automatically save your brainstorming sessions, remembering all your ideas and making it easy to share your ideas.</p>
    
    <div class="container">
    	<div class="third">
    		<h2><a href="{{=URL('decks', 'default')}}">Cards</a></h2>
    		<p>Upload ideas in the forum of cards. Cards can contain anything from individual mechanics for a game to plot points.</p>
    	</div>
    	
    	<div class="third">
    		<h2><a href="{{=URL('decks', 'default')}}">Decks</a></h2>
    		<p>Organize your Cards into Decks for brainstorming. Decks contain similar ideas so that the next time you need inspiration for a new song, you can check your “feelings” Deck.</p>
    	</div>
    	
    	<div class="third">
    		<h2><a href="{{=URL('boards', 'default')}}">Boards</a></h2>
    		<p>Brainstorm ideas by picking some Decks and making connections between cards. Part presentation editor, part digital whiteboard, Boards let you freely experiment with ideas.</p>
    	</div>
    	
    	<h2></h2>
    </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
