{{extend 'layout.html'}}

{{block head}}
<script>
    var my_url = "{{=URL('api', 'my_method')}}";
</script>
{{end}}

<div id="vue-div" class="display:none">
    <p class="padded tagline">Brainstorming with Idea Boards helps you come up with new inspiration for your next project. Upload domain-specific thoughts and ideas, then combine them in new and interesting ways. We automatically save your brainstorming sessions, remembering all your ideas and making it easy to share your ideas.</p>
    
    <div class="container">
    	<div class="third">
    		<h2>Cards</h2>
    		<p>Upload ideas in the forum of Cards. Cards can contain anything from individual game mechanics to plot hooks or anything inbetween.</p>
            <p><a href="{{=URL('decks', 'index')}}" class="btn">Cards Are Used In Decks</a></p>
    	</div>
    	
    	<div class="third">
    		<h2>Decks</h2>
    		<p>Organize your Cards into Decks. Group similar ideas into Decks so the next time you are starting a project you can find the inspiration you need.</p>
            <p><a href="{{=URL('decks', 'index')}}" class="btn">Decks Contain Similar Ideas</a></p>
    	</div>
    	
    	<div class="third">
    		<h2>Boards</h2>
    		<p>Brainstorm ideas by drawing from Decks to discover ideas. Part slide editor, part whiteboard, Boards let you freely experiment with concepts.</p>
            <p><a href="{{=URL('boards', 'index')}}" class="btn">Brainstorm With Boards</a></p>
    	</div>
    	
    	<h2>Start Brainstorming</h2>
        <p>With a free account you can upload Cards, create Decks, brainstorm with Boards, and share your ideas.</p>
        <p><a href="{{=URL('default', 'user', args='register')}}" class="btn">Sign Up Now</a></p>
    </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
