<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="{{=URL('static','css/stupid.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/custom.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/calendar.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/web2py.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/myapp.css')}}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{=URL('static', 'font-awesome-4.6.3/css/font-awesome.min.css')}}">
    {{include "web2py_ajax.html"}}
  </head>
  <body class="black">
    {{if response.flash:}}
    <div class="w2p_flash">
      {{=response.flash}}
    </div>
    {{pass}}
    <header class="black container max900">
      <h1>Idea Boards</h1>
      <div class="fill middle">
        <label class="ham padded fa fa-bars" for="menu"></label>
        <div class="burger accordion">
          <input type="checkbox" id="menu"/>
          {{=MENU(response.menu,_class='menu')}}
          <ul class="menu right">
            <li>
              {{=auth.navbar(mode='dropdown')}}
            </li>
          </ul>
        </div>
      </div>
    </header>
    <main class="white padded">
      <div class="container max900">
        {{include}}
      </div>
    </main>
    <footer class="black container max900">
      <h2>Created By</h2>
      
      <h3>Bryce Newbury</h3>
      <p>
        Producer, CSS expert, and all around UI manager.
      </p>
      
      <h3>Aadam Mohammad</h3>
      <p>
        In charge of letting you brainstorm with Boards.
      </p>
      
      <h3>Christopher Bui</h3>
      <p>
        Database and backend expert, ensuring your Cards are properly saved.
      </p>
      
      <p class="center spaced">Copyright 2018</p>
    </footer>
  </body>
  <script src="{{=URL('static','js/marked.min.js')}}"></script>
  <script src="{{=URL('static','js/vue.min.js')}}"></script>
  {{block bottomjs}}{{end}}
  <script>
    jQuery('.social a').each(function(){var t=jQuery(this); t.attr('href',t.attr('href').replace('{url}',encodeURIComponent(window.location.href)));});
  </script>
</html>
