/* line 2, ../sass/_main.scss */
h1 {
  margin-bottom: 0;
  margin-top: 0;
}

/* line 9, ../sass/_main.scss */
.tagline {
  font-size: 1.4em;
  border-bottom: 3px solid black;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 17, ../sass/_main.scss */
.subtitle {
  margin-top: 0;
  font-style: italic;
  font-size: 1.8em;
}

/* line 24, ../sass/_main.scss */
.bottom-border {
  border-bottom: 3px solid black;
  margin-bottom: 1em;
}

/* line 29, ../sass/_main.scss */
.no-spacing {
  margin: 0;
  padding: 0;
}

/* line 35, ../sass/_main.scss */
.max-height {
  max-height: 80vh;
  overflow-y: scroll;
}

/* line 41, ../sass/_main.scss */
.quarter > .padded {
  padding-right: 0;
}

/* line 46, ../sass/_main.scss */
.idea-card {
  position: relative;
  width: 150px;
  height: auto;
}
/* line 52, ../sass/_main.scss */
.idea-card img {
  display: block;
}
/* line 58, ../sass/_main.scss */
.idea-card span {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  text-shadow: 0px 0px 3px black, 1px 1px 1px black;
  word-break: break-word;
}

/* line 74, ../sass/_main.scss */
.form-title {
  font-size: 2em;
  margin-bottom: .5em;
}

/* line 80, ../sass/_main.scss */
#board-container {
  min-width: 630px;
}

/* line 85, ../sass/_main.scss */
#board {
  box-sizing: content-box;
  border: 3px solid black;
  display: block;
  margin: auto;
}

/* line 93, ../sass/_main.scss */
.ui-draggable-dragging {
  position: absolute;
}

.active {
  stroke: #000;
  stroke-width: 2px;
}