{{extend 'layout.html'}}

{{block head}}
<script>
    var login_status_url = "{{=URL('api', 'login_status', user_signature=True)}}";
    var get_deck_name_url = "{{=URL('api', 'get_deck_name', user_signature=True)}}";
    var add_deck_url = "{{=URL('api', 'add_deck', user_signature=True)}}";
    var get_decks_url = "{{=URL('api', 'get_decks', user_signature=True)}}";
    var edit_deck_url = "{{=URL('api', 'edit_deck', user_signature=True)}}";
    var delete_deck_url = "{{=URL('api', 'delete_deck', user_signature=True)}}";

    var add_card_url = "{{=URL('api', 'add_card', user_signature=True)}}";
    var del_card_url = "{{=URL('api', 'del_card', user_signature=True)}}";
    var show_cards_url = "{{=URL('api', 'show_cards', user_signature=True)}}";

    var delete_my_decks_url = "{{=URL('api', 'delete_my_decks', user_signature=True)}}";
</script>
{{end}}

{{if auth.user is not None:}}
<div id="vue-div" class="display:none">
  <!--Heading and option to create new decks-->
  <h2>My Decks</h2>
  <button v-if="!adding_deck" class="btn red" v-on:click="add_new_deck()">
    <i class="fa fa-plus"></i> New Deck
  </button>
    <!--Allow user to create new decks-->
  <div v-else>
    <form action="#" v-on:submit.prevent enctype="multipart/form-data" method="post">
      <div class="form-group">
        <div>
          <input class="form-control string"
                  v-model="form_deck_name" placeholder="Deck Name" type="text" />
          <span class="help-block"></span>
        </div>
      </div>
    </form>
    <!--button to add the memo with the above title and description -->
    <button class="btn red" v-on:click="submit_new_deck()">
      create
    </button>
    <button class="btn red" v-on:click="cancel_new_deck()">
      cancel
    </button>
  </div>
  <br>

  <!--show a list of decks belonging to a user-->
  <ul>
    <li v-for="d in curr_decks">
      <div class="accordion">
        <!-- checkbox here is to keep the state of the accordion
          its id must be unique and referened by the label -->
        <input type="checkbox" v-bind:id="d.id">
        <label v-bind:for="d.id"><a>${d.deck_name}</a></label>
        <div>
          <div class="padded white">
            <!--Show the uploader if user is currently uploading card to this deck-->
            <div id="uploader_div" v-if="d.is_uploading">
              Upload an image file: 
                <input id="file_input" type="file" accept="image/jpeg">
              Card Caption (optional): 
                <input id="caption_input">
              <!--Submit button will confirm upload, Cancel will go back-->
              <button v-on:click="upload_file" style="margin-top:20px;">Submit</button>
              <button v-on:click="close_uploader(d._idx)">Cancel</button>
            </div>
            <!--othewise show corresponding button to show uploader for this deck-->
            <div  v-if="!d.is_uploading && !d.editing_deck">
              <button v-on:click="open_uploader(d._idx)">add card</button>
              <button v-on:click="edit_deck(d._idx)">edit deck</button>
            </div>
            <div v-if="d.editing_deck && !d.adding_deck">
              <button v-on:click="submit_deck_edit(d._idx)">submit</button>
              <button v-on:click="cancel_deck_edit(d._idx)">cancel</button>
              <button v-on:click="delete_deck(d._idx)" 
                      style="float:right; background-color: crimson">
                delete deck
              </button>
              <input id="deck_name"
                  v-model="form_deck_name" placeholder="New Deck Name" type="text" />
            </div>
            <br>

            <!--Container to show our images-->
            <div class="image_container" v-if="curr_cards.length>0">
              <ul class="container float:none;">
                <!--Iterate through our cards and only show cards that belong to the current deck-->
                <li v-for="image in curr_cards" style=" display: inline-block; margin-bottom:30px;">
                  <div v-if="image.deck_id==d.id" style="width:350px; margin-right:50px;">
                    <!--Each image is placed in a card-->
                    <div class="card lifted padded quarter" 
                         style="width:100%; height:250px; float: left;">
                      <img v-bind:src="image.card_image_url" height="200px" width="200px" 
                            class="padded"/>
                      <!--Delete button-->
                      <br>
                      <button v-if="d.editing_deck" v-on:click="delete_card(image.card_id)" style="margin-left: 20px;">
                        <i class="fa fa-trash fa-lg"></i>
                      </button>
                      <button v-else style="margin-left: 20px; pointer-events: none; background-color: gray">
                        <i class="fa fa-trash fa-lg"></i>
                      </button>
                      <!--display caption within image-->
                      <p style="position: relative; bottom:220px; left:24px; text-shadow: 2px 2px black;
                                width:150px; color:white;">${image.caption}</p>
                    </div>
                  </div>
                </li> 
              </ul>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>

    <!--Some buttons for debugging-->
    <!--<button class="btn red" v-on:click="delete_my_decks()">
            debug delete
    </button>    -->

</div>

{{else:}}
<h2>Please login to view decks</h2>
<div class="login_button">
    <a href="{{=URL('default', 'user')}}" class="btn">Login</a>
</div>
{{pass}}

<script src="{{=URL('static', 'js/decks_index.js')}}"></script>
