{{extend 'layout.html'}}

{{block head}}
<script>
    var login_status_url = "{{=URL('api', 'login_status', user_signature=True)}}";
    var add_deck_url = "{{=URL('api', 'add_deck', user_signature=True)}}";
    var get_decks_url = "{{=URL('api', 'get_decks', user_signature=True)}}";
    var add_card_url = "{{=URL('api', 'add_card', user_signature=True)}}";
    var del_card_url = "{{=URL('api', 'del_card', user_signature=True)}}";
    var show_cards_url = "{{=URL('api', 'show_cards', user_signature=True)}}";

    var get_deck_name_url = "{{=URL('api', 'get_deck_name', user_signature=True)}}";
    var delete_my_decks_url = "{{=URL('api', 'delete_my_decks', user_signature=True)}}";
</script>
{{end}}

{{if auth.user is not None:}}
<div id="vue-div" class="display:none">
    <!--by default, show a list of decks belonging to a user-->
    <div v-if="show_decks">
        <h2>My Decks</h2>
        <button v-if="!adding_deck" class="btn red" v-on:click="add_new_deck()">
            <i class="fa fa-plus"></i> New Deck
        </button>
        <!--Allow user to create new decks-->
        <div v-else>
            <form action="#" v-on:submit.prevent enctype="multipart/form-data" method="post">
                <div class="form-group">
                  <div>
                    <input class="form-control string"
                          v-model="form_deck_name" placeholder="Deck Name" type="text" />
                    <span class="help-block"></span>
                  </div>
                </div>
              </form>
              <!--button to add the memo with the above title and description -->
              <button class="btn red" v-on:click="submit_new_deck()">
                create
              </button>
              <button class="btn red" v-on:click="cancel_new_deck()">
                cancel
              </button>
        </div>
        
        <table class="fill" id="user_selector">
            <!--show all other users-->
            <tbody v-for="d in curr_decks">
              <!--on click, show images of that user-->
              <td v-on:click="get_cards(d.id)">${d.deck_name}</td>
            </tbody>
          </table>
    </div>
    <!--if a deck is selected, display all cards associated with the deck-->
    <div v-else>
      <button class="btn red" v-on:click="back_to_decks()">
        back
      </button>
      <h2>The deck * ${open_deck_name} * was selected with an id of ${open_deck_id}</h2>
      <!-- Code to upload files, with control buttons -->
      <div id="uploader_div" style="display:none">
        Upload an image file: <input id="file_input" type="file" v-on:change="upload_file" accept="image/jpeg">
      </div>

      <button v-if="!is_uploading" v-on:click="open_uploader">add card</button>
      <button v-if="is_uploading"  v-on:click="close_uploader">Cancel</button>
      <h3 v-if="curr_cards.length==0 && !just_added">You have no cards at the moment</h3>
      <div v-else>
        <div class="image_container">
          <ul class="container">
            <li v-for="image in curr_cards" class="card lifted padded quarter" style="margin-right:30px;">
              <img v-bind:src="image.card_image_url" height="200px" width="200px" class="padded"/>
              <button v-on:click="delete_card(image.card_id)" style="margin-left: 20px;">
                  <i class="fa fa-trash fa-lg"></i></button>
            </li> 
          </ul>
        </div>
      </div>

    </div>

    <!--Some buttons for debugging-->
    <button class="btn red" v-on:click="delete_my_decks()">
            debug delete
    </button>

</div>

{{else:}}
<h2>Please login to view decks</h2>
<div class="login_button">
    <a href="{{=URL('default', 'user')}}" class="btn">Login</a>
</div>
{{pass}}

<script src="{{=URL('static', 'js/decks_index.js')}}"></script>
