{{extend 'layout.html'}}

<!-- Followed installation instructions and an example from here:
http://learn.jquery.com/jquery-ui/getting-started/ -->
{{block head}}
<link rel="stylesheet" href="{{=URL('static', 'css/jquery-ui.css')}}">
<script>
  //determine if user is signed in
    var login_status_url = "{{=URL('api', 'login_status', user_signature=True)}}";
  //urls for managing our decks
    var get_decks_url = "{{=URL('api', 'get_decks', user_signature=True)}}";
  //urls for managing our cards
    var show_cards_url = "{{=URL('api', 'show_cards', user_signature=True)}}";
  //urls for managing our cards
    var get_boards_url = "{{=URL('boards', 'get_boards', user_signature=True)}}";
    var add_board_url = "{{=URL('boards', 'add_board', user_signature=True)}}";
    var delete_board_url = "{{=URL('boards', 'delete_board', user_signature=True)}}";
    var save_board_url = "{{=URL('boards', 'save_board', user_signature=True)}}";
    var get_board_content_url = "{{=URL('boards', 'get_board_content', user_signature=True)}}";
</script>
<!-- Found out how to do rounded corners from here: https://www.w3schools.com/css/css3_borders.asp -->
<style>#sampleCard{
  width:150px;
  height:175px;
  border: 1.5px solid #0e0e0e;
  padding:0.5em;
  border-radius: 9px;
  }
</style>
{{end}}

{{if auth.user is not None:}}
<div id="vue-div" class="display:none container">
    
    <!-- Left sidebar -->
    <div class="quarter black max-height">
      <h2 class="padded">Decks</h2>
      
      <!--show a list of decks belonging to a user-->
      <ul class="padded">
        <li v-for="d in curr_decks">
          <div class="accordion">
            <!-- checkbox here is to keep the state of the accordion
              its id must be unique and referened by the label -->
            <input type="checkbox" v-bind:id="d.id">
            <label v-bind:for="d.id"><a>${d.deck_name}</a></label>
            <div>
              <div class="container">
                <!--Container to show our images-->
                <div class="image_container" v-if="curr_cards.length>0">
                  <ul class="container no-spacing">
                    
                    <!--Iterate through our cards and only show cards that belong to the current deck-->
                    <li v-for="image in curr_cards" v-if="image.deck_id==d.id">
                      <div>
                        <div>
                          <!--Each image is placed in a card-->
                          <idea-card class="idea" v-bind:image="image"></idea-card>
                        </div>
                      </div>
                    </li> 
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    
    <!-- Main middle content -->
    <div class="half" id="board-container">
      <svg id="board" width="600" height="600" onload="makeDraggable(evt)"></svg>
    </div>
    
    <!-- Right sidebar -->
    <div class="user_space quarter">
        <h5>Your Boards</h5>
        <p v-if="open_board_name != null">Open Board: ${open_board_name}</p>
        <button v-if="!adding_board" class="btn red" v-on:click="board_create">
            <i class="fa fa-plus"></i> New Board
          </button>
            <!--Allow user to create new decks-->
          <div v-else>
            <form action="#" v-on:submit.prevent enctype="multipart/form-data" method="post">
              <div class="form-group">
                <div>
                  <input class="form-control string"
                          v-model="form_board_name" placeholder="Board Name" type="text" />
                  <span class="help-block"></span>
                </div>
              </div>
            </form>
            <!--button to add the memo with the above title and description -->
            <button class="btn red" v-on:click="board_create_confirm">
              create
            </button>
            <button class="btn red" v-on:click="board_create_cancel">
              cancel
            </button>
          </div>
      <!-- Right part of the page -->
      <table class="fill" id="user_selector">
        <!--show all user boards in a list-->
        <tbody v-for="b in curr_boards">
          <!--on click, show images of that user-->
          <td v-on:click="board_open(b._idx)">
            ${b.board_name}
            <button style="float:right;" v-on:click="board_delete(b._idx)">
                <i class="fa fa-trash fa-lg"></i>
              </button>
          </td>
        </tbody>
      </table>

    </div>

</div>

{{else:}}
<h2>Please login to view boards</h2>
<div class="login_button">
    <a href="{{=URL('default', 'user')}}" class="btn">Login</a>
</div>
{{pass}}

<script src="{{=URL('static', 'js/d3.v4.min.js')}}"></script>
<script src="{{=URL('static', 'js/d3plus-text.full.min.js')}}"></script>
<script src="{{=URL('static', 'js/jquery-ui.js')}}"></script>
<script src="{{=URL('static', 'js/boards_index.js')}}"></script>
